# =====================
# LaTeX build artifacts
# =====================
*.aux
*.log
*.toc
*.out
*.bbl
*.blg
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb
*.xdv

# Latexmk temporary files
latexmkrc

# Output folders (opsional)
_build/
output/
